* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body,
html {
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    height: 100%;
}

.all-products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: black;
    align-items: center;
    justify-content: center;
}

.products {
    width: 320px;
    height: 400px;
    background-color: white;
    text-align: center;
    border-radius: 1rem;
    padding: 1rem;
    overflow: hidden;
}

.products img {
    height: 150px;
    object-fit: cover;
    margin-bottom: 2.5rem;
}


.products h2,
a {
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(50, 137, 195);
    margin-top: 1rem;
}

.home {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.home h1 {
    font-size: 4.5rem;
    font-weight: 500;
}

.home button {
    margin-top: 2rem;
    padding: 1rem 2rem;
    background-color: skyblue;
    border: none;
    cursor: pointer;
    border-radius: 1rem;
    font-size: 1.3rem;
    font-weight: 500;
    transition: all ease .2s;
}

.home button:hover {
    background-color: rgb(108, 188, 220);
}

.selected-product {
    width: 400px;
    height: 400px;
    background-color: rgb(243, 235, 235);
    text-align: center;
    border-radius: 1rem;
    padding: 1rem;
    overflow: hidden;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 5%;
    border: 1px solid black;
    border-radius: 1rem;
}

.selected-product img {
    height: 200px;
    object-fit: cover;
    margin-bottom: 2.5rem;
}

.selected-product h2 {
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(50, 137, 195);
    margin-top: 1rem;

}